#main__main-box-2{
    display: flex;
    overflow-y: scroll;
}

#test__block-right{
    display: block;
}
/*timer*/
.countdown {
    font-family: sans-serif;
    display: inline-block;
    font-weight: 100;
    text-align: end;
    width: 90%;
    margin: 5% 0 0;
    font-size: calc( (100vw - 800px)/(1440 - 800) * (16 - 11) + 11px);
  }
   
  .countdown-number {
    display: inline-block;
  }
   
  .countdown-time {
    display: inline-block;
  }
   
  .countdown-text {
    display: block;
  }
  .deadline-message{
    display: none;
    font-size: 24px;
    font-style: italic;
  }
   
  .visible{
    display: block;
  }
   
  .hidden{
    display: none;
  }
  .pract__res{
    padding: 13% 0 0 5% ;
    text-align: start;
    width: 95%;
    height: 50%;
  }
  #pmSubject{
    border: 1px solid #8D9EB9;
box-sizing: border-box;
border-radius: 8px;
padding:  5px;
  }
  .pmbtn{
    margin: 0;
  }
  .main__text-cont{
    margin-top: 20%;
  }
  .attem_text{
  line-height:22px;

  }
  #btn-1-1 a, #new_attempt a{
    text-decoration: none;
    color: #E0585A;;
  }
