/*Фон*/
.prev{
    background:url("../img/main_bkg.png");
    font-family: Arial, Helvetica, sans-serif;
}

.start-cont{
    max-width: 1440px;
    width: 80vw;
    height: 90%;
    min-height: 550px;
    background-color: #fff;
    margin: 3vh auto;
    border: 1px solid black;
    border-radius: 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*Логотипы*/
.start-cont__logo-box{
    display: flex;
    width: 83%;
    margin: 4vh 0 0 2vh;
    justify-content: space-around;
}
.start-cont__logo-pfr-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1;
}

.start-cont__logo-pfr-img{
    width: 6vw;
}
.start-cont__logo-guu {
    display: flex;
    flex: 1;
    align-items: center;
}
.start-cont__logo-guu img{
    width: 25%;
    margin-right: 2vw;
}
.start-cont__logo-pfr-text{
    font-size: calc( (100vw - 800px)/(1440 - 800) * (16 - 11) + 11px);
    font-weight: bold;
    text-transform: uppercase;
    line-height: calc( (100vw - 800px)/(1440 - 800) * (20 - 15) + 15px);
    color: #2B313C;
    width: 60%;

}
.rrr{
    display: flex;
    align-items: baseline;
    width: 49vw;
    max-width: 1000px;
    flex-wrap: wrap;
    margin: -25% 0 5vh 36%;
    font-size: calc( (100vw - 800px)/(1440 - 800) * (16 - 12) + 12px);
    justify-content: space-around;


}
@media(min-width: 2300px){
    .rrr{
        margin-left: 15vw;
    }
}
/*Основной текст*/
.start-cont__h1{
    font-size: calc( (100vw - 800px)/(1440 - 800) * (14 - 11) + 11px);
    line-height: calc( (100vw - 800px)/(1440 - 800) * (28 - 19) + 19px);
    color: #1F3E76;
}

.start-cont__hr{
    background: #E1E9F5;
    height: 4px;
    margin: 0;
    width: 50vw;
    max-width: 1300px;
    border: 0;
}


.start-cont__text-box{
    width: 80%;
    margin: 4vh 0 0 6vh;

}
.start-cont__h2{
    font-size: calc( (100vw - 800px)/(1440 - 800) * (29 - 17) + 17px);
}

.start-cont__text-1{
    font-weight: normal;
    color: #1F3E76;    
}

.start-cont__btn{
    border: 1px solid #E0585A;
    border-radius: 8px;
    padding: 6px 20px;
    margin-bottom: 5vh;
    background: #fff; 
    text-decoration: none;
}
 a{
    color: #E0585A;
    font-weight: normal;
    font-size: calc( (100vw - 800px)/(1440 - 800) * (16 - 12) + 12px);
    line-height: 22px;
    text-decoration: none;
 }

 .start-cont__text-1{
     display: flex;
     width: 84%;
     
 }
 .start-cont__menu-item-name{
     font-weight: bold;
 }

 .start-cont__menu-a{

    font-size: calc( (100vw - 800px)/(1440 - 800) * (12 - 10) + 10px);
    line-height:calc( (100vw - 800px)/(1440 - 600) * (14 - 9 ) + 9px);
    color: #1F3E76;
}
 .start-cont__box-1{
     flex: 1;
 }
 .start-cont__box-2{
    flex: 1;
    margin-left: 4%;
}

p{
    margin-bottom: 0;
}
/*КОМПЬЮТЕР НА ФОНЕ*/
*{
    z-index: 10;
}
.start-cont__bkg-ing-comp{
    width: 25vw;
    max-width: 300px;
    /* margin-left: 52vw;
    margin-bottom: 3%;
    position: absolute;
    
    bottom: 5vh;*/

    z-index: 0;
}
