.main{
    margin-left: 0.2vw;
    margin-top: 3vh;
    display: flex;
}
button{
    outline: none;
    border: none;
    background-color:  #F5F7FA;
}

/*ПОЛНОЕ МЕНЮ 2*/
.min-menu-full{
    flex: 1;
    height: 88vh;
    background-color:  #F5F7FA;
    border-radius: 24px;
    padding: 2vh;
    margin-right: 2vw;
}

.active-btn{
    background: #FAE8E9;
}

.min-menu-full_btn-menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 4vh;
}

#min-menu-full__close{
    margin-top: 2vh;
    margin-left: 85%;
}
.min-menu-full__h2{
    width: 91%;
 /*   font-size: calc( (100vw - 300px)/(1440 - 300) * (14 -6) + 6px);
*/
}
.min-menu-full_btn-menu button{
    padding:2vh;
    border-radius: 12px;
    width: 98%;
    text-align: start;
  /*  font-size: calc( (100vw - 300px)/(1440 - 300) * (14 -6) + 6px);
    
  */display: flex;
    align-items: center;

}
.min-menu-full_btn-menu button img{
    margin-right: 1vw;
}

#pres-ico, #pract-ico-red, #pdf-ico-red, #pres-ico-mini, #pract-ico-red-mini, #pdf-ico-red-mini, #lection, #pract{
    display: none;
}

/*СВЕРНУТОЕ МЕНЮ 2*/
.min-menu-mini{
    width: 4vw;
    height: 88vh;
    background-color:  #F5F7FA;
    border-radius: 24px;
    padding: 2vh;
    text-align: center;
    display: none;
    margin-right: 2vw;
}

.min-menu-mini .min-menu-full_btn-menu{
    margin-top: 21vh;
}
#min-menu-mini__btn-mini{
    margin-top: 2vh;
}
.btn-mini{
    text-align: center !important;
    display: flex;
    align-items: center; 
}

/*ПРЕЗЕНТАЦИИ БЛОК*/
#present{
    flex: 3;
    height: 90vh;
    width: 40vw;
    text-align: center;
}
.pres__btn-dwn a{
    text-decoration: none;
    color: #E0585A;
}
/*ЛЕКЦИИ БЛОК*/

#lection{
    flex: 3;
    height: 90vh;
    margin-right: 5vw;
    text-align: center;
    
    
}
.lec__box{
    width: 100%;
    height: 80vh;
    border: 2px solid #E1E9F5;
    border-radius:  24px ;
}
.lec__object{
    
    width: 90%;
    height: 85%;
    margin: 5% 0 0 2.5%;
}

.lec__btn{
    margin: 3% auto 2vh  !important;
}
.lec__btn a{
    text-decoration: none;
    color: #E0585A;
}
/*ПРАКТИЧ ЗАН БЛОК*/
.res-print{
    display: none;
}
#res__btn-print{
    margin: 20% auto 0 !important;
}
.pract__res{
    display: none;
    width: 100%;
    height: 100%;
    padding-top: 40% ;
}
#pract{
    flex: 3;
    width: 60%;
    height: 90vh;
    
}
.main__btn-sec{

    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 5%;
    justify-content: space-around;
}
#main__show-answer, .pract__btn{
    margin-left: 0% !important;
}

.pract__btn a {
    text-decoration: none;
    color:#E0585A;
}

@media(max-width: 700px ){
    .min-menu-full{
        width: 20vw;
    }
    .min-menu-mini{
        width: 8vw;
    }

}

/*возможно общие*/
.main__btn-1, .main__btn-2{
    background-color: #fff;
    color: #8D9EB9;
    font-weight: bold;
    padding: 1vh 2vh;
    border: 0px solid white;
    border-radius: 24px 24px 0px 0px;
    outline: none;
    border-bottom: none;
    z-index: 10;
    font-size: calc( (100vw - 800px)/(1440 - 800) * (13 - 11) + 11px);
    
}
.main__btn-1{
    color: #E0585A;
    border: 2px solid #E1E9F5;
    border-bottom: 2px solid #fff;
}

.main__btn-2{
    border-bottom:2px solid #E1E9F5;
}

.main__main-box{
    border: 2px solid #E1E9F5;
    z-index: 1;
    margin-top: -2px;
    border-radius: 0px 0px 24px 24px;
    width: 89%;
    height: 75vh;
    padding: 10vh 0 2vh 5vh;
}

.main__main-box-2{
    
    display: none;
    margin-top: -2px;
    height:96%;
    width: 95%;
    overflow: scroll;
    border: 2px solid #E1E9F5;
    border-radius: 0px 0px 24px 24px;
}

.main__object{
    width: 98%;
    height: 90%;
   
    
}

.main__answer-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 66vh;
    margin-bottom: 3vh;
}

#main__answer{
    display: none;
    flex:1;
    height: 100%;
    overflow-y: scroll;
    margin: 3vh 0 0;
    width: 92.5%;
    padding-right:3% ;
    text-align: justify;
    font-weight: normal;
    font-size: calc( (100vw - 800px)/(1440 - 800) * (16 - 12) + 12px);
    line-height: 22px;
}

#main__answer span{
    font-weight: bold;
    color: #E0585A;

}

.start-cont__btn{
    border: 1px solid #E0585A;
    border-radius: 8px;
    padding: 6px 20px;
    margin-bottom: 5vh;
    margin-left: 35%;
    background: #fff; 
    text-decoration: none;
    color: #E0585A;
    font-weight: normal;
    font-size: calc( (100vw - 800px)/(1440 - 800) * (16 - 12) + 12px);
    line-height: 22px;
}

/*тестирование*/
.test{
    display: none;
    overflow: hidden;
    justify-content: space-between;
    font-size: calc( (100vw - 800px)/(1440 - 800) * (14 - 12) + 12px);

}

#test__block-right{
    flex: 1;
    height: 100%;
    background: #F5F7FA;
    border-radius: 0px 0px 23px 0px;
    overflow-y: scroll;
}

.main__text-cont{
    margin-top: 40%;
}

#test__block-left{
    text-align: center;
    flex:2;
    overflow-y: scroll;
}

.test__btn-strt{
    border: 1px solid #E0585A;
    border-radius: 8px;
    padding: 6px 20px;
    background: #fff; 
    color: #E0585A;
    font-weight: normal;
    margin: 28%  0 0;
    font-size: calc( (100vw - 800px)/(1440 - 800) * (14 - 12) + 12px);
}

.test__raz{
    width: 100%;
  
    list-style-type: none;
    font-size: calc( (100vw - 800px)/(1440 - 800) * (14 - 12) + 12px);
    line-height:calc( (100vw - 800px)/(1440 - 800) * (20 - 12) + 12px);
}
.test__quest-li{
    font-size: calc( (100vw - 800px)/(1440 - 800) * (14 - 12) + 12px);
    display: flex;
    align-items: center;

}
.test__rz-li{
    border-bottom: 1px solid #E1E9F5;
    width: 96%;
    padding:5% 0 5% 4%;
}
.myform{
    display: none; 
}

#a-r-1-1, #a-f-1-1, #a-r-1-2,#a-r-1-3,#a-r-1-4,#a-r-1-5,#a-r-1-6, #a-f-1-2, #a-f-1-3, #a-f-1-4, #a-f-1-5, #a-f-1-6{
    display: none;
    margin-left: 0.5vw;
}
.test__quest-li {
    display: flex;
}

/*форма*/
.q1__box{
    text-align: start;
    font-weight: bold;
    width: 90%;
    margin-left: 1vw;
}
.q1__box p{
    color: #8D9EB9;
    margin-top: 20%;
    margin-bottom: 3%;
}

.q1__box input{
    margin-right: 0.5vw ;
    border: 1px solid #8D9EB9;
}

#q1-question{
    display: none;
    margin: 5% auto 0;
    opacity: 0.3;
}
input:checked + label{
    color: #E0585A;
    font-weight: bold;
}
#a-l ~ #q1-question{
    display: none !important;
}
.q1__answ{
    display: flex;
    align-items: center;
    padding: 1.5vh 0.7vw;
    width: 80%;
    list-style: none;
    
}
.q1__answ label{
    font-size: calc( (100vw - 800px)/(1440 - 800) * (14 - 10) + 10px);
    line-height:calc( (100vw - 800px)/(1440 - 800) * (20 - 12) + 12px);
    color: #8D9EB9;
    font-weight: normal;
}
.q1__answ:hover{
    background: #F5F7FA;
    border-radius: 8px;
}


.form__input{
    margin-top: 4vh;
    margin-left: -0.7vw ;
}

#q2__box, #q3__box, #q4__box, #q5__box, #q6__box{
    display: none;
}

/*слайдер*/

.test__cont{
    background: #fff no-repeat center;
    background-size: contain ;
    height: 40vh;
    overflow: hidden;
}
.main_wraper {
    margin: 5% auto 0;
    overflow-x: scroll;
    width:90%;
    height: 25vh;
    display: flex;
}
.main_wraper>img {
    background: #fff;
    float: left;
    
    padding: 15px;
    transition: all 0.5s ease-out;
    position: relative;
    width: 20vw;
    box-sizing: border-box;
  }
  .main_wraper>img:hover {
    cursor: pointer;
    padding: 3px;
    transition: all 0.3s ease-out;
    box-sizing: border-box;
  }

  .view_wraper {
    float: right;
   /* height: 75%;*/
    top: 0;
    width: 80%;
  }

  .view_image {
    background: transparent no-repeat center;
    background-size: contain;
    height: 100%;
    margin: 0 auto;
 /*   width: 100%;*/
  }
  
  .thumb-select {
    filter: grayscale(100%);
    opacity: .2;
    pointer-events: none;
  }
  
  .thumb-hide {
    display: none;
  }
  .arr{
      margin: 5% 0 0;
      color: #8D9EB9;
      font-weight: bold;
  }
  .text-slide{
    color: #E0585A !important;
  }
  .pres__btn-box{
      display: flex;
  }
  .next-slide{
    color: #8D9EB9;

  }

  .pres__btn-look, .pres__btn-dwn{
      margin: 5% auto 2vh !important;
  }
  .arrow_wrap {
    border-radius: 100%;
    cursor: pointer;
    height: 40px;
    outline: none;
    text-align: center;
    text-decoration: none;
    top: 50%;
    user-select: none;
    width: 20%;
  }
  
  .arrow_wrap:hover {
    color: rgba(255, 255, 255, 1);
    text-shadow: 1px 2px 6px #000;
  }
  
  .arrow_wrap:active {
    text-shadow: 0 0 1px #000;
  }
  
  .arrow-rew {
    left: 20px;
  }
  
  .arrow-fwd {
    right: 20px;
  }














@media (max-width: 600px){
    .nav-full{
        display: none;
    }
    .nav-mini{
        display: block;
    }
    .min-menu-full{
        display: none;
    }
    .min-menu-mini{
        display: block;
    }
}