.main{
    margin-left: 0.2vw;
    margin-top: 3vh;
    display: flex;
}
button{
    outline: none;
    border: none;
    background-color:  #F5F7FA;
}

/*ПОЛНОЕ МЕНЮ 2*/
.min-menu-full{
    flex: 1;
    height: 88vh;
    background-color:  #F5F7FA;
    border-radius: 24px;
    padding: 2vh;
    margin-right: 2vw;
}

.active-btn{
    background: #FAE8E9;
}

.min-menu-full_btn-menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 4vh;
}

#min-menu-full__close{
    margin-top: 2vh;
    margin-left: 85%;
}
.min-menu-full__h2{
    width: 91%;
 /*   font-size: calc( (100vw - 300px)/(1440 - 300) * (14 -6) + 6px);
*/
}
.min-menu-full_btn-menu button{
    padding:2vh;
    border-radius: 12px;
    width: 98%;
    text-align: start;
  /*  font-size: calc( (100vw - 300px)/(1440 - 300) * (14 -6) + 6px);
    
  */display: flex;
    align-items: center;

}
.min-menu-full_btn-menu button img{
    margin-right: 1vw;
}

#pres-ico, #pract-ico-red, #pdf-ico-red, #pres-ico-mini, #pract-ico-red-mini, #pdf-ico-red-mini, #lection, #pract{
    display: none;
}

/*СВЕРНУТОЕ МЕНЮ 2*/
.min-menu-mini{
    width: 4vw;
    height: 88vh;
    background-color:  #F5F7FA;
    border-radius: 24px;
    padding: 2vh;
    text-align: center;
    display: none;
    margin-right: 2vw;
}
#min-menu-mini__btn-mini{
    margin-top: 2vh;
}
.btn-mini{
    text-align: center !important;
    display: flex;
    align-items: center; 
}

/*ПРЕЗЕНТАЦИИ БЛОК*/
#present{
    flex: 3;
    width: 60%;
    height: 90vh;
    background-color: lawngreen;
}

/*ЛЕКЦИИ БЛОК*/

#lection{
    flex: 3;
    width: 60%;
    height: 90vh;
    background-color: rosybrown;
}

/*ПРАКТИЧ ЗАН БЛОК*/

#pract{
    flex: 3;
    width: 60%;
    height: 90vh;
    
}

@media(max-width: 700px ){
    .min-menu-full{
        width: 20vw;
    }
    .min-menu-mini{
        width: 8vw;
    }

}

/**/
.main__btn-1, .main__btn-2{
    background-color: #fff;
    color: #8D9EB9;
    font-weight: bold;
    padding: 1vh 2vh;
    border: 0px solid white;
    border-radius: 24px 24px 0px 0px;
    outline: none;
    border-bottom: none;
    z-index: 10;
    
}
.main__btn-1{
    color: #E0585A;
    border: 2px solid #E1E9F5;
    border-bottom: 2px solid #fff;
}

.main__btn-2{
    border-bottom:2px solid #E1E9F5;
}

.main__main-box{
    border: 2px solid #E1E9F5;
    z-index: 1;
    margin-top: -2px;
    border-radius: 0px 0px 24px 24px;
    width: 89%;
    height: 75vh;
    padding: 10vh 0 2vh 5vh;
}

.main__main-box-2{
    display: none;
    height: 90vh;
    width: 100%;
    overflow: scroll;
}

.main__object{
    width: 95%;
    height: 100%;
    flex:2;
    
}

.main__answer-box{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 50vh;
}

#main__answer{
    display: none;
    flex:1;
    height: 100%;
    overflow-y: scroll;
}